# Configuration Bdd
DB_CONNECTION=mysql
DB_HOST=DB_HOST
DB_PORT=3306
DB_NAME=Ecoride
DB_USER=
DB_PASSWORD=

#app dev
APP_ENV=developpement
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:8080
APP_TIMEZONE=Europe/Paris

#secu
JWT_SECRET=
CSRF_TOKEN_EXPIRE=3600
SESSION_LIFETIME=7200

#mail
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_NAME="ECORIDE"

#log
LOG_LEVEL=debug
LOG_FILE=storage/logs/app.log
LOG_MAX_SIZE=1048576
LOG_MAX_FILES=5