# Configuration Bdd
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# MongoDB
MONGO_DB_USER=
MONGO_DB_PASSWORD=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_DB_NAME=
MONGO_URI=

#app dev
APP_ENV=developpement
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:8080
APP_TIMEZONE=Europe/Paris

#secu
JWT_SECRET=
CSRF_TOKEN_EXPIRE=3
SESSION_LIFETIME=

#mail
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_NAME="ECORIDE"

#log
LOG_LEVEL=debug
LOG_FILE=storage/logs/app.log
LOG_MAX_SIZE=1048576
LOG_MAX_FILES=5