# ------------------------------------------------------------------------------
# Configuration pour le serveur Apache (OVH)
# ------------------------------------------------------------------------------

# Désactiver l'affichage du contenu des dossiers
Options -Indexes

# Activer la réécriture d'URL
RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# 1. Rediriger le "non-www" vers le "www" ET forcer le HTTPS
RewriteCond %{HTTP_HOST} !^www\. [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^ https://www.ecoride-project.ovh%{REQUEST_URI} [L,R=301]

# 2. Sécurité : Bloquer l'accès aux fichiers sensibles
RewriteRule ^(\.env|composer\.(json|lock)|Dockerfile|docker-compose\.yml)$ - [F,L]

# 3. Rediriger tout vers le dossier public/
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# 4. Gestion du routeur (index.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]