/* style pour les cards/container */

/* container des cards */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
    width: 100%;
}

/* style pour les cards */
.services-card {
    background-color: var(--spcing-light);
    border: 1px solid var(--boder-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    height: 100%;
}

/* style pour les icônes des cards */
.card-icons {
    width: 60px;
    height: 60px;
}

/* style pour les textes des cards */
.text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.card-text {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-top: 10px;
}

.card {
    background-color: var(--spcing-white);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* media queries */
/* tablets */
@media screen and (min-width: 768px) {
    .card-container {
        width: 50%;
        max-width: 500px;
        gap: 30px;
    }

    .services-card {
        padding: 30px;
    }

    .card-icons {
        width: 70px;
        height: 70px;
    }
}
/* desktops */
@media screen and (min-width: 1024px) {
    .card-container {
        max-width: 550px;
        gap: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
/* desktops 1200 */
@media screen and (min-width: 1200px) {
    .card-container {
        max-width: 600px;
    }
}
/* desktops 1440 */
@media screen and (min-width: 1440px) {
    .card-container {
        gap: 50px;
        max-width: 700px;
    }
}
/* desktops 1920 */
@media screen and (min-width: 1920px) {
    .card-container {
        gap: 60px;
        max-width: 800px;
    }
}